.tpro .background{padding:7px 15px 6px 15px;height:auto}
.tpro .background p{font-size:14px;padding-top:5px}
.tpro:before,.tpro .background:before{top:23px}
.footer-blocks-bottom .footer-block .caption{line-height:1}
#home-slider .caption-content.real-caption{font-weight:100;line-height:1}
#home-slider .caption.header h2{font-weight:500;line-height:0.85}
#home-slider ul.slides li:nth-child(1) .caption-link{margin-top:29px}