.cart-block-type-8 #top #cart_block .cart-heading p{border-color:#d9d9d9!important;height:45px;padding-top:13px}
.footer ul.social-icons{padding-top:17px}
.footer .footer-about-us ul,.footer-about-us .has-logo{padding-top:17px;font-weight:400!important;font-size:inherit;line-height:21px;padding-bottom:2px;color:#020202}
#slider .pattern{-webkit-box-shadow:inset 0 1px 0 0 #dadada;-moz-box-shadow:inset 0 1px 0 0 #dadada;box-shadow:inset 0 1px 0 0 #dadada}
.custom-footer .background{border-bottom:1px solid #dfdfdf}