.templateIndex .standard-body .full-width.main-content .pattern > .container{padding-bottom:0}
.footer{text-align:center}
.footer .social-icons li{padding:0 9px}
.footer-about-us .has-logo{font-weight:500!important}
.footer ul.social-icons{padding-bottom:26px}
.footer-about-us{padding-top:33px}
.body-full-width .header-type-3 #header-center .horizontal ul.megamenu>li{margin-right:27px}
#popup-mailchimp.popup{background-size:cover}
.popup .newsletter input{background:#fff;color:#000}
.popup .newsletter .subscribe{background:#0d0d0d}
.popup .newsletter .subscribe:hover{background:#333}
.popup .content h3{margin:0 0 5px;font-size:16px}
.popup .content strong{display:block;font-size:90px;line-height:75px;color:#0d0d0d}
.popup .content span{font-size:30px;color:#bc985c;font-weight:300;display:block}