#main .posts .button-more,.wine-news .button-more{color:#c10d3f}
#main .posts .button-more:hover,.wine-news .button-more:hover{color:#fff;border-color:#c10d3f;background-color:#c10d3f}
.footer-about-us{padding:24px 0 0}
.footer-about-us h6{color:#fff;padding:0;margin:0;font-size:15px;font-weight:400!important}
.footer .footer-about-us p{padding:20px 0 0;margin:0;line-height:23px}
.footer-about-us ul.social-icons{list-style:none;padding:26px 0 0;margin:0}
.footer-about-us ul.social-icons li{display:inline-block;vertical-align:top;padding:0 18px 0 0;font-size:24px}